<h2>Please enter your credentials</h2>

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p-floatlabel variant="on">
    <p-iconfield>
      <p-inputicon class="pi pi-envelope" />
      <input
        pInputText
        id="email"
        [formControl]="loginForm.controls.email"
        type="email"
      />
      <label for="email">Email</label>
    </p-iconfield>
  </p-floatlabel>

  <p-floatlabel variant="on">
    <p-iconfield>
      <p-inputicon class="pi pi-lock" />
      <input
        pInputText
        id="password"
        [formControl]="loginForm.controls.password"
        type="password"
      />
      <label for="password">Password</label>
    </p-iconfield>
  </p-floatlabel>

  @if (loginError$ | async; as error) {
    <p-message severity="error" [text]="error" />
  }

  <p-button
    type="submit"
    label="Sign in"
    [disabled]="loginForm.invalid"
    [loading]="isLoading$ | async"
    fluid
  />
</form>
