:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--p-text-muted-color);
  height: 200px;
}

i {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}
