<div class="settings">
  <div class="settings__group">
    <p-divider align="left" type="solid">General</p-divider>
    <div class="settings__group__fields">
      <div class="settings__group__fields__field">
        <div class="settings__group__fields__field__label">
          <label for="descriptionSelector">Description selector</label>
          <i
            [class]="PrimeIcons.INFO_CIRCLE"
            pTooltip="Must contain both {pbi} and {description} tokens with at least one character between them. It may also contain regex. Example: '{pbi} - {description}' or '{description} {pbi}'"
            tooltipPosition="top"
          ></i>
        </div>
        <input
          type="text"
          pInputText
          pSize="small"
          [formControl]="settingsForm.controls.descriptionSelector"
        />
      </div>
    </div>
  </div>

  <div class="settings__group">
    <p-divider align="left" type="solid">Entry duration rounding</p-divider>
    <div class="settings__group__fields">
      <div class="settings__group__fields__field">
        <div class="settings__group__fields__field__label">
          <label for="roundingTime">Rounding time</label>
          <i
            [class]="PrimeIcons.INFO_CIRCLE"
            pTooltip="Time to which the entry duration will be rounded."
            tooltipPosition="top"
          ></i>
        </div>
        <p-selectbutton
          [options]="RoundingTimeOptions"
          [formControl]="settingsForm.controls.roundingTime"
          optionLabel="label"
          optionValue="value"
          aria-labelledby="basic"
          size="small"
        />
      </div>

      <div class="settings__group__fields__field">
        <div class="settings__group__fields__field__label">
          <label for="roundingDirection">Rounding direction</label>
          <i
            [class]="PrimeIcons.INFO_CIRCLE"
            pTooltip="Direction to which the entry duration will be rounded."
            tooltipPosition="top"
          ></i>
        </div>
        <p-selectbutton
          [options]="RoundingDirectionOptions"
          [formControl]="settingsForm.controls.roundingDirection"
          optionLabel="label"
          optionValue="value"
          aria-labelledby="basic"
          size="small"
        />
      </div>
    </div>
  </div>

  <div class="settings__group">
    <p-divider align="left" type="solid">Settings backup</p-divider>
    <div class="settings__group__fields">
      <div class="settings__group__fields__field">
        <div>
          <input
            type="file"
            accept=".json,application/json"
            (change)="importSettings($event)"
            hidden
            #importInput
          />
          <p-button
            label="Import"
            variant="text"
            [icon]="PrimeIcons.DOWNLOAD"
            size="small"
            (click)="importInput.click()"
          />
          <p-button
            label="Export"
            variant="text"
            [icon]="PrimeIcons.UPLOAD"
            severity="secondary"
            size="small"
            (click)="settingsService.downloadSettingsAsJson()"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  @if (isUnsaved$ | async) {
    <p-button
      label="Save"
      size="small"
      [disabled]="settingsForm.invalid"
      (click)="saveSettings()"
    />
  } @else {
    <p-button label="Saved!" size="small" disabled />
  }
</div>
