:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow-y: auto;
  padding-right: 1rem;
  flex: 1 1 auto;

  &__group {
    p-divider {
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    &__fields {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        &__label {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
}
