.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  & .selected-date {
    color: var(--p-text-muted-color);
  }
}

.item-wrapper {
  height: 380px;
  min-width: 600px;
  overflow-y: auto;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
