@if (Vm$ | async; as vm) {
  <div class="sub-header">
    <p class="selected-date">
      {{ vm.selectedDate | date: "fullDate" }}
    </p>
    @if (vm.totalDuration != null) {
      <p-badge [value]="vm.totalDuration | timespan: 'HH:mm:ss'" />
    }
  </div>

  <div class="item-wrapper">
    @if (vm.isLoading) {
      <app-message [icon]="'pi-spin ' + PrimeIcons.SPINNER" />
    } @else {
      @if (vm.groups) {
        @if (vm.groups.length > 0) {
          <p-accordion [multiple]="true">
            @for (group of vm.groups; track $index) {
              <app-time-entry-group [group]="group" [index]="$index" />
            }
          </p-accordion>
        } @else {
          <app-message
            message="No time entries found for the selected date."
            [icon]="PrimeIcons.INFO_CIRCLE"
          />
        }
      } @else if (vm.selectedDate == null) {
        <app-message
          message="Please select a date to view time entries."
          [icon]="PrimeIcons.CLOCK"
        />
      } @else if (vm.error) {
        <app-message
          [message]="vm.error"
          [icon]="PrimeIcons.EXCLAMATION_CIRCLE"
        />
      }
    }
  </div>
}
