<div class="sub-header">
  <p>{{ contentService.selectedDate$ | async | date: "fullDate" }}</p>
  @if (totalDuration$ | async; as totalDuration) {
    <p-badge [value]="totalDuration | timespan: 'HH:mm:ss'" />
  }
</div>

<div class="item-wrapper">
  @if (isLoading$ | async) {
    <p>Loading...</p>
  } @else {
    @if (timeEntryGroups$ | async; as groups) {
      <p-accordion [multiple]="true">
        @for (group of groups; track $index) {
          <app-time-entry-group [group]="group" [index]="$index" />
        }
      </p-accordion>
    }
  }
</div>
