@if (Vm$ | async; as vm) {
  @if (vm.group != null) {
    <p-accordion-panel [value]="index">
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          <div class="item-icon">
            @if (vm.isSaved) {
              <i
                [class]="PrimeIcons.CHECK_SQUARE + ' saved-entry'"
                pTooltip="A saved entry has been found matching this pbi and description"
                tooltipPosition="top"
              ></i>
            }
            @if (vm.groupIsValid) {
              <p-button
                [icon]="PrimeIcons.SAVE"
                size="small"
                outlined
                (click)="handleSave($event, vm.group)"
                pTooltip="Save entry to Urenregistratie"
                tooltipPosition="top"
              />
            } @else {
              <i
                [class]="PrimeIcons.EXCLAMATION_TRIANGLE + ' invalid-entry'"
                pTooltip="Could not determine pbi/description. This entry can not be saved. Please make sure the configured selector is correct."
                tooltipPosition="top"
              ></i>
            }
            <p-badge [value]="vm.group.totalDuration | timespan: 'HH:mm:ss'" />
            @if (active) {
              <i [class]="PrimeIcons.CHEVRON_UP"></i>
            } @else {
              <i [class]="PrimeIcons.CHEVRON_DOWN"></i>
            }
          </div>
        </ng-template>

        <div class="item-description">
          {{ vm.group.description }}
          @if (vm.group.projectName) {
            <p-badge
              [value]="vm.group.projectName"
              badgeSize="small"
              [style.backgroundColor]="vm.group.projectColor"
            />
          }
        </div>
      </p-accordion-header>
      <p-accordion-content>
        <ul>
          @for (entry of vm.group.entries; track entry.id) {
            <li>
              {{ entry.duration | timespan: "HH:mm:ss" }}
            </li>
          }
        </ul>
      </p-accordion-content>
    </p-accordion-panel>
  }
}
