p-accordion-header {
  padding: 0.5rem 1rem;
}

::ng-deep p-accordion-content .p-accordioncontent-content {
  padding: 1rem 0.5rem;
  padding-top: 0;

  & * {
    margin: 0;
  }
}

.item-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-description {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.invalid-entry {
  color: var(--p-amber-400);
}

.saved-entry {
  color: var(--p-green-400);
}
